$blue--lighter:   #60a4f7;
$blue--light:    #4a96f3;
$blue:            #2a85f5;
$blue--dark:      #1e6dce;
$blue--darker:    #1659ab;

html {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  box-sizing: border-box;
  background: #e4e8ea;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

h1 {
  color: #2e3438;
  opacity: .1;
  font-size: 3rem;
  margin: 4rem;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 60rem;
  margin: 0 auto;

}

.item {
  background: #f6f8f9;
  width: 18rem;
  height: 12rem;
  margin: 1rem;
  border-radius: 4px;
}

.button {
  box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  padding: .75rem 1rem;
  margin: 5rem;
  height: 2.5rem;
  line-height: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  transition: all .2s ease-in-out;
}

.button--flat {
  background: $blue;
  color: white;
}

.button--dark-hover {
  &:hover {
    background: $blue--dark;
  }
  &:active {
    background: $blue--darker;
  }
}

.button--light-hover {
  &:hover {
    background: $blue--light;
  }
  &:active {
    background: $blue--lighter;
  }
}

.button--rounded {
  border-radius: .25rem;
}

.button--pill {
  border-radius: 1.25rem;
}

.button--shadow {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
              0 1px 5px 0 rgba(0,0,0,.12),
              0 3px 1px -2px rgba(0,0,0,.2);
}

.button--shadow-hover {
  &:hover {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),
                0 1px 10px 0 rgba(0,0,0,.12),
                0 2px 4px -1px rgba(0,0,0,.2)
  }
  &:active {
    box-shadow: 0 8px 10px 0 rgba(0,0,0,.14),
                0 1px 15px 0 rgba(0,0,0,.12),
                0 1px 12px -1px rgba(0,0,0,.2)
  }
}

.button--outlined {
  background: transparent;
  border: .15rem solid $blue;
  line-height: .85rem;
  color: $blue;
}

.button--outlined-dark-hover {
  &:hover {
    background: $blue;
    color: white;
  }
  &:active {
    background: $blue--dark;
    border-color: $blue--dark;
  }
}

.button--outlined-light-hover {
  &:hover {
    background: $blue;
    color: white;
  }
  &:active {
    background: $blue--light;
    border-color: $blue--light;
  }
}

.button--glow {
  box-shadow: 0 0 8px 0 $blue;
}

.button--glow-hover {
  &:hover {
    box-shadow: 0 0 10px 1px $blue;
  }
  &:active {
    box-shadow: 0 0 12px 2px $blue;
  }
}

.button--glow.button--dark-hover {
  &:hover {
    box-shadow: 0 0 8px 0 $blue--dark;
  }
  &:active {
    box-shadow: 0 0 8px 0 $blue--darker;
  }
}

.button--glow.button--light-hover {
  &:hover {
    box-shadow: 0 0 8px 0 $blue--light;
  }
  &:active {
    box-shadow: 0 0 8px 0 $blue--lighter;
  }
}

.button--scale-hover {
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(1);
  }
}
